

/* Estilos gerais */

body
{
  font-family: 'Roboto', 'Moderna', 'sans-serif';
}

.row
{
  margin: 0;
}

.Container
{
  padding: 70px 0;
}


p, li
{
  color: rgb(0, 0, 0);
  font-size: 14px;
}

/* Barra de navegaçao */

header, .navbar
{
  background-color: #000000;
}

#navbar-container
{
  padding-top: 0;
  padding-bottom: 0;
}

#nav-Container
{
  padding-top:0;
  padding-bottom:0;
}

#logo
{
  width: 75px;
}

#logo:hover
{
  color:#f2ff7b;
  
}


.navbar-brand
{
  padding:0;
  color:rgb(255, 255, 255);
}

.navbar-brand:hover
{
  color:#f2ff7b;
}

.navbar-nav
{
  color:#ffff;
}

/* Slider */

.container-fluid
{
  padding:0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item
{
  height:90;
  background-size: 100;
}



#mainSlider .carousel-caption
{
  top: 30%;
}

#mainSlider .carousel-caption h2
{
  font-size:50px;
  margin-bottom:30px;
}

#mainSlider .carousel-caption p
{
  font-size:22px;
  font-weight: 300;
  margin-bottom: 100px;
  color:rgb(255, 255, 255);
}

#mainSlider .carousel-control-next
{
  color: red;

}

.main-btn
{
  background-color: #000000;
  color: #ffff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover
{
  text-decoration:none;
  color: #000000;
  background-color: #ffff;
  border-color: #000000;
}
.carousel-indicators .active
{
  background-color: #000000;
}

#changecolor
{
    color: #000000;
}

/* Sobre */

#about-area
{
  background-color:#ffffff;
}

.main-title
{
  color: rgb(0, 0, 0);
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after
{
  /* barra de baixo do title*/
  content:"";
  border-top: 2px solid #0000003d;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42,5%;
}

.about-title
{
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
}

#about-list
{
    list-style: none;
    padding-left:0;
    color: rgb(0, 0, 0);
}

#about-list li
{
  line-height: 30px;
  color: rgb(0, 0, 0);
}

#about-list i
{
  /*Estilo do checklist*/
  color: rgb(0, 0, 0);
  margin-right: 15px;
}

/* Curriculo */
.service-box
{
  text-align: center;
  margin-bottom: 50px;

}

.service-box i, .service-box h4
{
  transition: .5s;
}

.service-box i
{
  font-size: 36px;
  margin-bottom: 20px;
  color:#000000;
}

.service-box h4
{
  font-size: 24px;
  margin-bottom: 20px;
  color:rgb(0, 0, 0);
}

.service-box:hover > i, .service-box:hover > h4
{
  color:#0000003d;
}

/* Dados */

.circule-box div
{
  padding: 0 40px;
}

.progressbar-text
{
  font-weight:bold;
  font-size: 32px;
}

#data-area p
{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* Favoritos */

.card-body {
  text-align: center;
}

/* Info local */

#apply-area {
  height: auto;
}

#apply-area .apply-box {
  text-align: center;
  padding: 70px 50px;
}

#local-img{
  background-image: url('../img/ceuestrelado.jpg');
  background-size: cover;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#pattern-img h4, #pattern-img p{
  color: rgb(0, 0, 0);
}

#pattern-img h4{
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p{
  margin-bottom: 20px;
}

#apply-btn{
  display:block;
  height:auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

#apply-btn:hover {
  border-color: #000000;
  background-color: #ffffff;
}

/*Portfólio*/

.project-box{
  margin-bottom: 30px;
}

#filter-btn-box{
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover{
  color: #ffff;
  background-color: #000000;
  border-color: #000000;
}

/* Entre em contato */

#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #000000;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #FFF;
  text-transform: uppercase;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: #FFF;
  color: #000000;
}

/* Orçamento */

#call-area {
  background-color: #000000;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  display: inline;
}

#call-area #call-btn {
  background-color: #FFF;
  color: #000000;
  font-weight: bold;
  margin-left: 30px;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
}

/* Rodapé */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #000000;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #000000;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #000000;
}

/* Copyright */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color:#6f00debb;
}